﻿<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title JabetSystem's</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="../Content/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="~/Content/css/fontastic.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/Content/css/style.blue.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/Content/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/favicon.ico">

</head>
<body>

    <div class="page">
        <!-- Main Navbar-->
        <header class="header">
            <nav class="navbar">
                <!-- Search Box-->
                <div class="search-box">
                    <button class="dismiss"><i class="icon-close"></i></button>
                    <form id="searchForm" action="#" role="search">
                        <input type="search" placeholder="What are you looking for..." class="form-control">
                    </form>
                </div>
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <!-- Navbar Header-->
                        <div class="navbar-header">
                            <!-- Navbar Brand --><a href="@Url.Action("Index","Inicio")" class="navbar-brand">
                                <div class="brand-text brand-big"><span></span><strong> JabetSystem's</strong></div>
                                <div class="brand-text brand-small"><strong>Jb's</strong></div>
                            </a>
                            <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                        </div>
                        <div></div>
                        @if (Request.IsAuthenticated)
                        {
                            <div class="text-white">@User.Identity.Name </div>
                        }
                        <!-- Navbar Menu -->
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            <!-- Search-->
                            @*<li class="nav-item d-flex align-items-center"><a id="search" href="#"><i class="fa fa-search" aria-label="true"></i></a></li>*@
                            <!-- Notifications-->
                            @*<li class="nav-item dropdown">
                                    <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-bell-o"></i><span class="badge bg-red">12</span></a>
                                    <ul aria-labelledby="notifications" class="dropdown-menu">
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item">
                                                <div class="notification">
                                                    <div class="notification-content"><i class="fa fa-envelope bg-green"></i>You have 6 new messages </div>
                                                    <div class="notification-time"><small>4 minutes ago</small></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item">
                                                <div class="notification">
                                                    <div class="notification-content"><i class="fa fa-twitter bg-blue"></i>You have 2 followers</div>
                                                    <div class="notification-time"><small>4 minutes ago</small></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item">
                                                <div class="notification">
                                                    <div class="notification-content"><i class="fa fa-upload bg-orange"></i>Server Rebooted</div>
                                                    <div class="notification-time"><small>4 minutes ago</small></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item">
                                                <div class="notification">
                                                    <div class="notification-content"><i class="fa fa-twitter bg-blue"></i>You have 2 followers</div>
                                                    <div class="notification-time"><small>10 minutes ago</small></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>view all notifications                                            </strong></a></li>
                                    </ul>
                                </li>*@
                            <!-- Messages                        -->
                            @*<li class="nav-item dropdown">
                                    <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-envelope-o"></i><span class="badge bg-orange">10</span></a>
                                    <ul aria-labelledby="notifications" class="dropdown-menu">
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                                <div class="msg-profile"> <img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h3 class="h5">Jason Doe</h3><span>Sent You Message</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                                <div class="msg-profile"> <img src="img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h3 class="h5">Frank Williams</h3><span>Sent You Message</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                                <div class="msg-profile"> <img src="img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h3 class="h5">Ashley Wood</h3><span>Sent You Message</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>Read all messages    </strong></a></li>
                                    </ul>
                                </li>*@

                            <li class="nav-item"><a href="@Url.Action("LogOff", "Account")"   class ="nav-link logout">Salir<i class="fa fa-sign-out"></i></a></li>

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar">
                <!-- Sidebar Header-->
                <div class="sidebar-header d-flex align-items-center">
                    @if (Request.IsAuthenticated)
                    {
                        <div class="card-img"><img src="../" alt="Imagen Logo" class="img-fluid"></div>
                    }
                </div>
                <!-- Sidebar Navidation Menus--><span class="heading">Principal</span>
                <ul class="list-unstyled">
                    <li class="active"><a href="@Url.Action("Index","Home")"> <i class="fa fa-home"></i>Inicio </a></li>

                    @if (User.IsInRole("User"))
                    {
                        <li>

                            <a href="#Consulta" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-briefcase"></i>Mantenimientos </a>
                            <ul id="Consulta" class="collapse list-unstyled ">
                                <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                                <li><a href="@Url.Action("NuevaFactura","Factura")"> <i class="fa fa-money"></i>Pagos</a></li>
                                <li>@Html.ActionLink("Productos", "Index", "Products")</li>
                                <li>@Html.ActionLink("Plan", "Index", "Plans")</li>
                                <li>@Html.ActionLink("Sucursal", "Index", "Sucursals")</li>
                                <li>@Html.ActionLink("Tipo", "Index", "Tipoes")</li>
                                @* <li>@Html.ActionLink("Usuarios", "Index", "Users")</li>*@
                            </ul>
                        </li>
                    }

                    @if (User.IsInRole("User"))
                    {
                        <ul id="mantenimientos" class="collapse list-unstyled ">
                            <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                            <li>@Html.ActionLink("Productos", "Index", "Products")</li>
                            <li>@Html.ActionLink("Plan", "Index", "Plans")</li>
                            <li>@Html.ActionLink("Sucursal", "Index", "Sucursals")</li>
                            <li>@Html.ActionLink("Tipo", "Index", "Tipoes")</li>
                            @* <li>@Html.ActionLink("Usuarios", "Index", "Users")</li>*@

                        </ul>
                    }
                   

                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a href="#consultas" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-info-circle"></i>Consultas</a>
                            <ul id="consultas" class="collapse list-unstyled">
                                <li>@Html.ActionLink("Consulta Facturas", "ListadoFactura", "Factura")</li>
                            </ul>
                        </li>
                        <li class=""><a href="@Url.Action("Index","Users")"> <i class="fa fa-user"></i>Usuarios </a></li>

                    }
                </ul>

            </nav>
            <div class="content-inner">
                <!-- Page Header-->
                <header class="page-header">
                    <div class="container-fluid">
                        <h2 class="no-margin-bottom">@ViewBag.Title</h2>
                    </div>
                </header>


                @RenderBody()
                <hr />
                <footer class="main-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Sistema de control de Pagos &copy; @DateTime.Now.Year</p>
                            </div>

                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script src="~/Content/vendor/jquery/jquery-1.12.0.min.js"></script>
    <script src="~/Content/vendor/popper.js/umd/popper.min.js"></script>

    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/Content/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/Content/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Content/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/Content/js/charts-home.js"></script>
    <!-- Main File-->
    <script src="~/Content/js/front.js"></script>


</body>
</html>
