﻿@model FunerariaProyecto.Models.LoginViewModel

@{
    ViewBag.Title = "Iniciar sesión";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/Content/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="~/Content/css/fontastic.css">
    <!-- Google fonts - Poppins -->
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">*@
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/Content/css/style.blue.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/Content/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
    <div class="page login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">
                    <!-- Logo & Information Panel-->
                    <div class="col-lg-6">
                        <div class="info d-flex align-items-center">
                            <div class="content">
                                <div class="logo">
                                    <h1>Funeraria Hato Damas</h1>
                                </div>
                                <p>Presente en tus momentos Tristes.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Form Panel    -->
                    <div class="col-lg-6 bg-white">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)

                                    <div class="form-group">
                                        <input id="Email" type="text" name="Email" required="" class="input-material">
                                        <label for="Email" class="UserName">Usuario</label>
                                    </div>
                                    <div class="form-group">
                                        <input id="Password" type="password" name="Password" required="" class="input-material">
                                        <label for="Password" class="label-material">Contraseña</label>
                                    </div><button type="submit" class="btn btn-primary">Login</button>
                            <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                                }

                                @*@Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe, new { @class = "forgot-pass" })<br>*@
                                <a href="@Url.Action("Register","Account")" class="signup">Registrarse</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Javascript files-->
    <script src="~/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="~/Content/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Content/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Main File-->
    <script src="~/Content/js/front.js"></script>
</body>
</html>





@*<hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>

    <section id="loginForm">
    <h2>Utilice una cuenta local para iniciar sesión.</h2>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Formulario de inicio de sesión</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </li>
            </ol>
            <input type="submit" value="Iniciar sesión" />
        </fieldset>
        <p>
            @Html.ActionLink("Regístrese", "Register") si no tiene ninguna cuenta.
        </p>
    }
    </section>

    <section class="social" id="socialLoginForm">
        <h2>Usar otro servicio para iniciar sesión.</h2>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
