﻿@model IEnumerable<FunerariaProyecto.Models.Plan>

@{
    ViewBag.Title = "Planes";
}

<h2>Mantenimiento Planes</h2>
<div class=" panel panel-primary">
    <div class="panel-heading">MANTENIMIENTO</div>
    <div class="panel-body">
        <div>
            <p>
                @Html.ActionLink("Nuevo Plan", "Create", null, new { @class = "btn btn-success" })
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.precio)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.precio)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.PlanId }) |
                            @Html.ActionLink("Detalle", "Details", new { id = item.PlanId }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.PlanId })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>